@import '../abstract/vars';

& {
  background: $background;
}

main {
  padding: 36px;
  display: flex;
  justify-content: center;

  .box {
    border-radius: $border-radius;
    background: $foreground;
    box-shadow: $shadow;
    margin: auto;
    width: 100%;
    padding: 24px;
  }
}