body {
    background: var(--background);
}

main {
    padding: 36px;
    display: flex;
    justify-content: center;
}

.box {
    border-radius: var(--border-radius);
    background: var(--foreground);
    box-shadow: var(--shadow);
    margin: auto;
    width: 100%;
    padding: 24px;
}